h3 {
    font-family: 'PT Mono', monospace;
    color: #252525;
}



.main {
    padding: 20px;
}

.kol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.kol1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}


.kol2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}


.bookknap1 {
    position: absolute;
    background-image: url(book_knap.svg);
    background-size: cover;
    width: 10rem;
    height: 3rem;
    top: 35.5rem;
    left: 1.8vw;
}

.bookknap2 {
    position: absolute;
    background-image: url(book_knap.svg);
    background-size: cover;
    width: 10rem;
    height: 3rem;
    top: 35.5rem;
    left: 50.3vw;
}
