h3 {
    font-family: 'PT Mono', monospace;
}


.section {
    margin: 20px;
}

.kol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    padding: 30px;
}

.kol1 {
    grid-column-start: 1,2;

}


.kol2 {
    grid-column-start: 2,3;

}

