h3 {
    font-family: 'PT Mono', monospace;
}


.main {
    padding: 20px;
}

.kol {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 30px;
    padding: 20px;
}

.section .kol1 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

}

.priser1 {}


.section .kol2 {
    grid-column-start: 2, 3;

}

.bookknap1 {
    position: absolute;
    background-image: url(book_knap.svg);
    background-size: cover;
    width: 13%;
    height: 10%;
    top: 39vw;
    left: 8w;
}

.bookknap2 {
    position: absolute;
    background-image: url(book_knap.svg);
    background-size: cover;
    width: 13%;
    height: 10%;
    top: 39vw;
    left: 51.1vw;
}
