/* Splashbillede/video
#videoBG {
    position:fixed;
    z-index: -1;
}*/

/*not work if the screen ratio is below 16/9*/
/*
    width:100%;
    height: auto;
}*/
/*Media query til splash/video*/
/*

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
*/

/* screen ratio under 16/9
@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width:auto;
        height: 100%;
    }
}*/

/* Til små skærme så videoen ikke spiller.
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('poster.jpg');
        background-size: cover;
    }
}*/
/*mobil*/
@media (max-width: 550px) {

        .logo {
        position: absolute;
        width: 50vw;
        height: 20vw;
        left: 25vw;
        top: 20vw;
        padding-top: 100px;


    }
    .kol1 p {
        padding-top: 400px;
        padding-right: 20px;
        margin: 10px;
        font-size: 12px;
        text-align: center;
    }



    .bookknap {
        position: absolute;
        background-size: cover;
        width: 30vw;
        height:20vw;
        left: 35vw;
        top: 41vw;
        padding-top: 445px;

    }


}

/*desktop*/
@media only screen and (min-width: 600px) {

        .logo {
        font-size: 3rem;
        text-align: center;
            padding-top: 150px;


    }


 .kol1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 30px;
    padding: 20px;
     padding-top: 110px;
}




.kol2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}



.bookknap {
    position: absolute;
    background-size: cover;
    width: 15rem;
    height: 7rem;
    top: 37.3rem;
    left: 70vw;
}
}


