body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

main {
    padding: 20px;
}

.billede-container {
    position: absolute;
}

.billede-kol {
    position: relative;
    width: 50v;
    height: 66.7vw;
    top: 0w;
    left: 58vw;
    object-fit: contain;
    object-position: ;
    opacity: 30%;
}


.form_section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: start;
    padding: 1.5rem;
    /* background: #3a243f; */
    /* color: #fff;*/
    border-radius: 8px;

}

input {
    display: block;
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: 4px;
}

label {
    display: grid;
    justify-items: start;
    font-weight: 600;
    font-family: 'Arvo', serif;
}

article {
    padding-right: 2rem;
}

.form_felt {
    margin-bottom: 1rem;
}

button {
    background-color: #6D7266;
    color: white;
    padding: .75rem 1rem;
    font-family: 'PT Mono', monospace;
    font-style: normal;
}

button:hover {
    background-color: #A0A0A0;
}

@media only screen and (min-width: 650px) {
    section {
        max-width: 1000px;
        margin: 0 auto;
    }

    .form_section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
