* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'PT Mono', monospace;
}

h2 {
    font-family: 'PT Mono', monospace;
}

p {
    font-family: 'Arvo', serif;
}

header {
    position: relative;
    height: 0;
    margin-bottom: 5.25rem;
}

nav {
    padding: 1.75rem;
    text-align: center;
    background-color: #C7B5A7;
}

a {
    font-family: 'PT Mono', monospace;
    font-size: 1.25rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

a:link {
    color: white;

}

a:visited {
    color: white;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}
