* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #F5F3DF;
}

h1 {
    font-family: 'PT Mono', monospace;
}

h2 {
    font-family: 'PT Mono', monospace;
}

p {
    font-family: 'Arvo', serif;
}

header {
    position: relative;
    height: 0;
    margin-bottom: 5.25rem;
}

nav {
    padding: 1.75rem;
    text-align: center;
    background-color: #C7B5A7;
}

.menulink {
    font-family: 'PT Mono', monospace;
    font-size: 1.25rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.menulink:link {
    color: white;

}

.menulink:visited {
    color: white;
}

.menulink:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menulink:hover:after {
    width: 100%;
    left: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C7B5A7;
    color: white;
    text-align: left;
    padding: .15rem;
}

footer p {
    font-size: 1.15rem;
    margin-left: 1rem;
}

.socialMedias {
    margin-top: -3.12rem;
    float: right;
    margin-right: 1.6rem;

}

.facebook {
    width: 2.9rem;
    height: 2.9rem;
}

.instagram {
    width: 2.9rem;
    height: 2.9rem;
}
