#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer height */
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-family: 'PT Mono', monospace;
}

h2 {
    font-family: 'PT Mono', monospace;
}

p {
    font-family: 'Arvo', serif;
    line-height: 1.5;
}

footer p {
    line-height: 1;
}

header {
    position: relative;
    height: 0;
    margin-bottom: 5.25rem;
}

nav {
    padding: 1.75rem;
    text-align: center;
    background-color: #C7B5A7;
}

.menulink {
    font-family: 'PT Mono', monospace;
    font-size: 1.25rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.menulink:link {
    color: black;

}

.menulink:visited {
    color: black;
}

.menulink:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menulink:hover:after {
    width: 100%;
    left: 0;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #C7B5A7;
    color: black;
    text-align: left;
    padding: .15rem;
}

footer p {
    font-size: 1.15rem;
    margin-left: 1rem;
}

.socialMedias {
    margin-top: -3.12rem;
    float: right;
    margin-right: 1.6rem;

}

.facebook {
    width: 2.9rem;
    height: 2.9rem;
}

.instagram {
    width: 2.9rem;
    height: 2.9rem;
}

.logonav {
    width: 4.3rem;
    height: 4.3rem;
    z-index: 4;

}

.menulogo {
    float: left;
    margin-top: -1.5rem;
    margin-left: -.45rem;
    margin-right: -6rem;
    cursor: pointer;
    z-index: 4;
}


.menulinklast {
    font-family: 'PT Mono', monospace;
    font-size: 1.25rem;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.menulinklast {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.menulinklast:link {
    color: black;

}

.menulinklast:visited {
    color: black;
}

.menulinklast:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 2;
    content: "";
    display: block;
    height: 1.5px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.menulinklast:hover:after {
    width: 100%;
    left: 0;
}

.burgermenu {
    display: none;
}

@media (max-width: 950px) {
    .menulink {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .menulinklast {
        margin-left: 1.5rem;
        margin-right: -4rem;

    }

    nav {
        height: 4.9rem;
    }


}

@media (max-width: 750px) {
    .menulink {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .menulinklast {
        margin-left: 1rem;
        margin-right: -4rem;

    }


}

@media (max-width: 650px) {

    #page-container {
        position: relative;
        min-height: 100vh;
    }

    #content-wrap {
        padding-bottom: 2.5rem;
        /* Footer height */
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Footer height */
    }

    .menulink {
        display: none;
    }

    footer {
        position: absolute;
    }

    .menulinklast {
        display: none;
    }


    .burgermenu {
        display: block;
        float: right;
        font-size: 3rem;
        padding: 0;
        text-align: right;
    }

    #burgerknap {
        margin-right: 2rem;
        display: inline-block;
        cursor: pointer;

    }

    .burgerknap {
        margin-right: 2rem;


    }

    .burgermenulink {
        font-family: 'PT Mono', monospace;

        cursor: pointer;
        text-decoration: none;
    }

    #burgersection {
        position: relative;
        transition: transform 0.3s;
        transform-style: top right;
        background: #c7b5a7;
        margin-top: 1.5rem;
        height: 35rem;
        line-height: 100px;
        z-index: 2;
    }

    #burgersection li {
        margin-top: -0.75rem;
        margin-right: 2rem;
        text-align: center;
        padding: 10px;
    }

    nav {
        width: 100%;
    }

    footer p {
        font-size: 0.9rem;
        margin-left: 0.8rem;
    }

    .socialMedias {
        margin-top: -2.8rem;
        margin-right: 1rem;
    }

    .hidden {
        opacity: 0;
        transform: translateX(150%);

    }

    .burgermenulink:link {
        color: black;

    }

    .burgermenulink:visited {
        color: black;
    }

    .burgermenulink:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 2;
        content: "";
        display: block;
        height: 1.5px;
        left: 50%;
        position: absolute;
        background: black;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .burgermenulinklast:hover:after {
        width: 100%;
        left: 0;
    }
}
